body {
  font-family: 'Alef';
}

#header {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  direction: rtl;

  h1 {
    color: green;
    cursor: pointer;
  }
}

#body {
  max-width: 800px;
  margin: auto;
  overflow: auto;
}

.list-group-item {
  text-align: right;
  font-size: 15px;
  cursor: pointer !important;

  &:hover {
    background: #f3f3f3;
  }
}

#content {
  width: 550px;
}

#welcome, #not-starred {
  text-align: center;
  font-size: 23px;
  direction: rtl;

  b {
    color: green;
  }

  .star {
    color: orange;
  }
}

.tweet {
  border: 1px solid #c5c5c5;
  font-size: 22px;
  padding: 11px 10px;
  margin: 0 0px 15px 0;
  text-align: right;
  direction: rtl;
}

.tweet-content {
  float: right;
}

.tweet-star {
  font-size: 50px;
  color: darkorange;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

.tweet-star:hover:before {
  content: "\2605";
  position: absolute;
}

#footer {
  text-align: center;
  direction: rtl;
  margin-top: 50px;

  #vegantech-logo {
    height: 33px;
    position: relative;
    top: -2px;
  }
}