/* line 1, ../../sass/style.scss */
body {
  font-family: 'Alef'; }

/* line 5, ../../sass/style.scss */
#header {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  direction: rtl; }
  /* line 12, ../../sass/style.scss */
  #header h1 {
    color: green;
    cursor: pointer; }

/* line 18, ../../sass/style.scss */
#body {
  max-width: 800px;
  margin: auto;
  overflow: auto; }

/* line 24, ../../sass/style.scss */
.list-group-item {
  text-align: right;
  font-size: 15px;
  cursor: pointer !important; }
  /* line 29, ../../sass/style.scss */
  .list-group-item:hover {
    background: #f3f3f3; }

/* line 34, ../../sass/style.scss */
#new-fact {
  direction: rtl; }

/* line 38, ../../sass/style.scss */
#content {
  width: 550px; }

/* line 42, ../../sass/style.scss */
#welcome, #not-starred {
  text-align: center;
  font-size: 23px;
  direction: rtl; }
  /* line 47, ../../sass/style.scss */
  #welcome b, #not-starred b {
    color: green; }
  /* line 51, ../../sass/style.scss */
  #welcome .star, #not-starred .star {
    color: orange; }

/* line 56, ../../sass/style.scss */
.tweet {
  border: 1px solid #c5c5c5;
  font-size: 22px;
  padding: 11px 10px;
  margin: 0 0px 15px 0;
  text-align: right;
  direction: rtl; }

/* line 65, ../../sass/style.scss */
.tweet-content {
  float: right; }

/* line 69, ../../sass/style.scss */
.tweet-star {
  font-size: 50px;
  color: darkorange;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none; }

/* line 78, ../../sass/style.scss */
.tweet-star:hover:before {
  content: "\2605";
  position: absolute; }

/* line 83, ../../sass/style.scss */
#footer {
  text-align: center;
  direction: rtl;
  margin-top: 50px; }
  /* line 88, ../../sass/style.scss */
  #footer #vegantech-logo {
    height: 33px;
    position: relative;
    top: -2px; }
