<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta charset="UTF-8">

    <title>VeganFact</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">

    <meta property="og:title" content="VeganFact" />
    <meta property="og:url" content="http://www.veganfact.com" />
    <meta property="og:description" content=" כל העובדות על תעשיית המזון מן החי במקום אחד. בדוק, תמציתי, קליט ואפקטיבי." />
    <meta property="og:image" content="http://www.veganface.com/images/facebook-preview.png" />
</head>
<body ng-app="veganfact" ng-controller="TweetsCtrl">

<div class="container">
    <div class="row" id="header">
        <h1 ng-click="currentCategory = null; tweets = null">VeganFact</h1>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-3 visible-xs">
            <ul class="list-group">
                <li class="list-group-item" ng-click="pick(category)" ng-repeat="category in categories" ng-class="{active: category == currentCategory}">{{ category }}</li>
                <li class="list-group-item" ng-click="newTweet()"><u>הוספת עובדה חדשה +</u></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <div ng-show="!currentCategory" id="welcome" class="row">

                <p>כל העובדות על תעשיית המזון מן החי במקום אחד. בדוק, תמציתי, קליט ואפקטיבי.</p>

                <p>מסמנים <span class="star">בכוכב ★</span> את העובדות שרוצים לזכור, והופ! יש לכם רשימה מרוכזת באזור האישי. אפשר להעתיק, להדביק, לשנן ולשלב בכל פורמט הסברתי שתרצו.</p>
            </div>
            <div class="row" ng-show="currentCategory && tweets.length == 0" id="not-starred">
                כאן יופיעו כל העובדות שתסמנו <span class="star">בכוכב★</span>
            </div>
            <div class="tweet row" ng-repeat="tweet in tweets" ng-show="tweets">
                <div class="tweet-content col-md-10 col-sm-9">
                    {{ tweet.content }}
                </div>
                <div class="col-md-2 col-sm-3 text-center">
                    <button class="tweet-star" ng-hide="tweet.starred" ng-click="star(tweet)">☆</button>
                    <button class="tweet-star" ng-show="tweet.starred" ng-click="unstar(tweet)">★</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item" ng-click="pick(category)" ng-repeat="category in categories" ng-class="{active: category == currentCategory}">{{ category }}</li>

            </ul>
            <div id="new-fact">
                <a class="btn btn-primary" ng-click="newTweet()" target="_blank">+ הוספת עובדה חדשה</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="footer">
            <a ng-click="openVeganTech()">פותח ב-<img id="vegantech-logo" src="./images/vegantech.png" /></a>
        </div>
    </div>
</div>


<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="./scripts/script.js"></script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93687045-1', 'auto');
    ga('send', 'pageview');
</script>

<script>
    window.intercomSettings = {
        app_id: "d09k1j22"
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/d09k1j22';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>
</html>
